/* html{
    min-height: 100%;
} */

body {
    text-align: center;
    /* height: 100%; */
    /* min-height: fit-content; */
    /* overflow: auto; */
    font-size: 1.5rem;
    color: white;
    background-image: linear-gradient(rgb(15, 15, 40) 30%,rgb(35, 35, 197));
    padding: 1rem;
}

fieldset{
    border: none;
}

img {
    width: 70%;
    min-width:100%;
    max-width: 400px;
    display: block;
    margin: 0 auto;
    padding: 1rem 0;
}
p{
    /* width: 70%;
    min-width:100%; */
    max-width: 400px;
    margin: 0 auto;
}
ul {
    padding: 0;
    list-style-type: none;
}
select {
    width: fit-content;
}
form {
    line-height: 3rem;
    width: fit-content;
    display: block;
    padding: 1rem;
    margin: 0 auto;
    text-align: center;
}
#searchCount {
    display: block;
}
#results{
    display: flex;
    align-items: flex-start;
    align-content: center;
    flex-basis: 4;
    /* width: 100%; */
    margin: 0 auto;
    transition: 0.5s linear;
}
.card {
    /* background-color: rgba(0, 0, 0, 0.451); */
    display: none;
    text-align: center;
    padding: 0 .5rem;
    /* position: absolute; */
    width: 100%;
    /* margin: 0 auto; */
    z-index: 3;
}
.wrapper {
    display: flex;
    flex-flow: row nowrap;
    /* width: 100%; */
    /* min-height: 80vh; */
    /* position: relative; */
    justify-content: center;
    align-items: flex-start;
    max-width: 700px;
    margin: 0 auto;
    /* position: relative; */
}
.prev, .next {
    position: relative;
    top: 12rem;
    cursor: pointer;
    /* width: 8%; */
    padding: 1rem;
    /* color: rgb(0, 0, 0); */
    font-weight: bold;
    font-size: 3.5rem;
    transition: all 0.6s ease;
    user-select: none;
    flex-basis: 1;
    /* align-self: stretch; */
}
.prev:hover, .next:hover{
    color: rgb(52, 194, 199);
}
.prev{
    padding-left: 1rem;
}
.next{
    padding-right: 1rem;
}
.noResults {
    align-self: center;
    display: none;
}
a{
    text-decoration: none;
    color:white;
}
a:hover{
    color: black;
}
footer{
    margin-top: 3rem;
}
footer span{
    display: block;
    /* width: 100%; */
}
::-webkit-scrollbar{
    background-color: rgb(57, 57, 167);
    width: .8rem;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(2, 2, 129);
}
::-webkit-scrollbar-thumb:hover{
    background-color: rgb(36, 36, 36);
}

@media screen and (min-width: 400px) {
    .prev, .next {
        top: 15rem;}
    #searchCount {
        display: inline;
        padding: 1rem;
    }
}

@media screen and (min-width: 500px) {
    img{
        width: 70%;
        min-width: 310px;
    }
    .prev, .next {
        top: 18rem;}
}